<table class="main_tbl">
  <thead>
  <tr class = "t">
    <th class = "h1">{{myProject.name}}</th>
    <th class = "h3"
        [ngClass]="{
        'set' : settings}">
      <a href="myprojects#settings"
         (click)="toggleSettings()">Настройки</a></th>
  </tr>
  </thead>
</table>

<br>

<table projectKey="table2" class="tbl2" *ngIf="settings">
  <tbody>
  <projects-settings (onChecked)="onSettingChanged($event)"
                     *ngFor="let box of checkboxes" [box]= "box">
  </projects-settings>
  </tbody>
</table>


<table class="tbl" projectKey="table1" *ngIf="!settings">
  <tbody>
  <tr>
    <td>Общее количество задач</td>
    <td>{{stat.AllIssuesCount}}</td>
  </tr>
  <tr>
    <td>Количество открытых задач</td>
    <td>{{stat.OpenIssuesCount}}</td>
  </tr>
  <tr>
    <td>Количество закрытых задач</td>
    <td>{{stat.CloseIssuesCount}}</td>
  </tr>
  <tr projectKey="reopen_task_count">
    <td>Количество переоткрытых задач</td>
    <td>{{stat.ReopenedIssuesCount}}</td>
  </tr>
  <tr projectKey="resolved_task_count">
    <td>Количество разрешенных задач</td>
    <td>{{stat.ResolvedIssuesCount}}</td>
  </tr>
  <tr projectKey="progress_task_count">
    <td>Количество задач со статусом "In progress"</td>
    <td>{{stat.ProgressIssuesCount}}</td>
  </tr>
  <tr>
    <td>Среднее время выполнения задачи (часы)</td>
    <td>{{stat.AverageTime}}</td>
  </tr>
  <tr>
    <td>Среднее количество заведенных задач в день за последнюю неделю</td>
    <td>{{stat.AverageIssuesCount}}</td>
  </tr>
  </tbody>
</table>
<br>

<button class="btn" *ngIf="!settings"
        [disabled]="!canViewResults"
        (click)="checkResult()">
  Посмотреть
</button>

<button class="btn" *ngIf="settings"
        [disabled]="!canAnalyze"
        (click)="processProject()">
  {{ loadingAnalysis ? 'Обработка...' : 'Обработать' }}
</button>
<br>
<br>
<br>
